html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;  
}

html {
    scroll-behavior: smooth;
}

.Section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    /* border-style: solid;
    border-color: green; */
}


.ImageProgress {
    opacity: 0;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    transition: all 500ms ease-in-out 250ms;
}

.ImageProgress.Show {
    opacity: 1;
}

.ImageProgress > .ImageProgressImage {
    opacity: 0.3;
    position: absolute;
    background-position: center center;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.ImageProgress > .ImageProgressUploaded {
    position: absolute;
    background-position: center center;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: inset(0% 0 0 0);
    transition: all 250ms ease-in-out 0ms; 
}

.ImagePreview {
    opacity: 0;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    overflow: hidden;
    transition: all 500ms ease-in-out 250ms;
    /* border-style: solid;
    border-color: blue; */
}

.ImagePreview.Show {
    opacity: 1;
}

.ImagePreview > div {
    position: absolute;
    background-size: cover;
    filter: blur(20px);
    left: -40px;
    right: -40px;
    bottom: -40px;
    top: -40px;
}



.DropArea {
    background: #efefef; 
    display: flex;
    align-items: center;
    justify-content: center; 
    width: calc(80vw - 80px);
    height: calc(80vh - 80px);
    border: solid 40px transparent;
    transition: all 250ms ease-in-out 0s;
    position: relative; 
    
}

.DropArea.Over {
    border: solid 40px rgba(0, 0, 0, 0.2);
}

.DropArea.Uploading {
    border-width: 0px;
}

.Status {
    background: transparent; 
    display: block;
    font-family: 'Helvetica', Arial, sans-serif;
    color: black;
    font-size: 60px;
    font-weight: bold;
    text-align: center;  
    /* line-height: calc(80vh - 80px); */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 250ms ease-in-out 0s; 
}


.Status.Uploading {
    background: rgba(0, 0, 0, 0.3);
    color: white;
}

.Abort {
    background: rgba(255, 0, 0, 0.5);
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    transition: all 250ms ease-in-out 0s;
    cursor: pointer;
}
.Abort:hover {
    background: rgba(255, 0, 0, 1);
}
.Abort > span {
    color: white;
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    height: 28px;
    width: 22px;
    line-height: 28px;
    position: absolute;
    top: 0;
    right: 0;
}

.UploadControls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
}

.Browse {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Helvetica', Arial, sans-serif;
}

/* .NewContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 1000px;
    border-style: solid;
    border-color: green;
} */